:root {
  --white-color: #FFFFFF;
  --accent-color: #FF6C00;
  --dark-grey-color: #303030;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Open Sans", "sans-serif"; 
  background-color: var(--white-color);
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  display: block;
  font-family: inherit;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.09em;
text-transform: uppercase;
cursor: pointer;
min-width: 160px;
height: 40px;
border: 1px solid var(--accent-color);
border-radius: 25px;
background-color: transparent;
}

/*---------HEADER--------*/

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-logo {
  margin-right: 131px;
}

.header > .container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-item {
}

.header-link {
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
color: var(--dark-grey-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tel { 
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
color: var(--dark-grey-color);
}

.header-button {
margin-left: 43px;
color: var(--white-color);
}

/*---------HERO--------*/

.hero-pre-title {
  margin-bottom: 20px;
}

.section-hero {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-hero > .container {
  display: flex;
}

.hero-wrap {
  background-color: var(--dark-grey-color);
  flex-grow: 1;
  padding: 272px 100px 208px;
}

.hero-list {
  width: 100px;
}

.hero-pre-title {
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-family: 'Raleway', sans-serif; 
  font-size: 72px;
line-height: 1.1;
letter-spacing: 0.05em;
color: var(--white-color);
margin-bottom: 20px;
}

.hero-text { 
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #9DA4BD;
max-width: 360px;
}

.hero-link {
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;
color: var(--dark-grey-color);
transform: rotate(-90deg);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

/*---------ABOUT--------*/

.section-about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-about > .container {
  display: flex;
  gap: 30px;
}

.about-wrap {
  max-width: 470px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-item {
}

.about-pre-title {
  margin-bottom: 20px;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: var(--dark-grey-color);
}

.about-title {
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: var(--dark-grey-color);
}

.about-after-title {
  margin-bottom: 20px;
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #555555;
}

.about-text {
  margin-bottom: 42px;
font-size: 14px;
line-height: 1.85;
letter-spacing: 0.02em;
color: #555555;
}

.about-button {
  
}

/*---------PRICES--------*/

.section-prices {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--dark-grey-color);
}

.prices-pre-title {
  margin-bottom: 20px;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: rgba(157, 164, 189, 0.6);
}

.prices-list {
border: 1px solid var(--white-color);
width: calc((100% - 30px) /2);
padding: 30px 20px 30px 20px;
}

.prices-item {
  display: flex;
  justify-content: space-between;
}

.prices-item + .prices-item {
  margin-top: 20px;
}

.prices-title {
  margin-bottom: 44px;
  font-family: 'Raleway', sans-serif;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: var(--white-color);
}

.prices-text {
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #9DA4BD;
}

.prices-wrap {
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
}

.prices-button {
  margin-left: 43px;
  color: var(--white-color);
  margin: 0 auto;
}
/*--------BENEFITS---------*/

.section-benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-number {
  font-weight: 700;
font-size: 42px;
line-height: 1.35;
text-align: center;
letter-spacing: 0.05em;
color: var(--dark-grey-color);
}

.benefits-item-text {
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-align: center;
max-width: 122px;
color: var(--dark-grey-color);
}

.benefits-pre-title {
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: var(--dark-grey-color);
}

.benefits-title {
  font-family: 'Raleway', sans-serif;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: var(--dark-grey-color);
}

.benefits-text {
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #555555;
}

.benefits-wrap {
 max-width: 500px;
 margin-left: 130px;
}

.section-benefits > .container {
  display: flex;
}

.benefits-pre-title {
  margin-bottom: 20px;
}

.benefits-title {
  margin-bottom: 20px;
}

.benefits-list {

}

/*--------TEAM----------*/

.team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-pre-title {
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: var(--dark-grey-color);
margin-bottom: 20px;
}

.team-title {
  font-family: 'Raleway', sans-serif;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: var(--dark-grey-color);
margin-bottom: 44px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  width: calc((100% - 60px) / 3);
}

.team-item-title {
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-grey-color);
  margin-top: 30px;
  margin-bottom: 8px;
}

.team-item-text {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/*--------PHOTO---------*/

.section-photo {
  padding-top: 120px;
  padding-bottom: 120px;
}

.photo-list {
  display: flex;
  gap: 30px;
}

.photo-pre-title {
  margin-bottom: 44px;
  padding-left: 80px;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: var(--dark-grey-color)
}

/*---------CONTACTS----------*/

.section-contacts {
  padding-top: 130px;
  padding-bottom: 120px;
  background-color: var(--dark-grey-color);
}

.contacts-booking {
  max-width: 570px;
}

.contacts-title {
  font-family: 'Raleway', sans-serif;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: var(--white-color);
padding-bottom: 44px;
}

.contacts-title-two {
  font-family: 'Raleway', sans-serif;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;
color: var(--white-color);
padding-bottom: 40px;
}

.contacts-button {
  color: var(--white-color);
}

.contacts-address-list {

}

.contacts-link {
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #9DA4BD;

}

.contacts-hours {
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: var(--white-color);
margin-bottom: 20px;
margin-top: 70px;
}

.contacts-hours-text{
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: #9DA4BD;
text-align: center;
}

.section-contacts > .container {
  display: flex;
}

.contacts-wrap {
  max-width: 270px;
  margin-left: 360px;
}

/*----------FOOTER----------*/

.section-footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.section-footer > .container {
  display: flex;
  align-items: center;
}

.footer-copyright {
font-weight: 600;
font-size: 11px;
line-height: 1.36px;
letter-spacing: 0.2em;
color: #9DA4BD;
}

.footer-list {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-left: 873px;
}



